.hero {
    width: 100%;
    min-height: 700px;
    background-color: #205a9d;
    display: block; /* não centraliza o container */
    padding: 20px 0; /* espaço vertical */
    margin-top: 0;
}
/* ===== Container / Categoria Recentes ===== */
.container {
    background-color: #205a9d; /* fundo que envolve tudo */
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
}

.container h2 {
    color: #ffffff;
    font-size: 28px;
    margin: 0;

}

.model-wrapper {
    display: grid;           /* coloca os modelos lado a lado */
    grid-template-columns: repeat(4, 1fr); /* 5 por linha */
    gap: 10px;       
    padding: 10px;
    box-sizing: border-box;
}
.model {
    background-color: #2d65a5;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}
.model h3 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
}
    
iframe {
    width: 100%;
    aspect-ratio: 4 / 3; /* mantém proporção */
    height: auto;
    border: none;
    border-radius: 4px;
}

model-viewer {
  width: 100%;
  height: 320px;
  border: none;
  border-radius: 4px;
  background-color: #76778b;
}

@media (max-width: 730px) {
    .model-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .container h2 {
        font-size: 22px;
    }
    .model h3 {
        font-size: 14px;
    }
    model-viewer {
    height: auto;
    aspect-ratio: 4 / 3;
    }
}