.hero {
    width: 100%;
    min-height: 700px;
    background-color: #205a9d;
    display: block; /* não centraliza o container */
    padding: 20px 0; /* espaço vertical */
    margin-top: 0;
}
/* ===== Container / Categoria Recentes ===== */
.container {
    background-color: #205a9d; /* fundo que envolve tudo */
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
}

.container h2 {
    color: #ffffff;
    font-size: 28px;
    margin: 0;

}
.ver-todos {
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    transition: 0.3s;
    display: inline-block; 
    cursor: pointer;
    float: right; /* coloca à direita dentro do container */
    margin-top: 4px; /* ajuste fino de alinhamento vertical */
}

.ver-todos:hover {
    color: #ff9900;
}

.model-wrapper {
    display: grid;           /* coloca os modelos lado a lado */
    grid-template-columns: repeat(4, 1fr); /* 5 por linha */
    gap: 10px;       
    padding: 10px;
    box-sizing: border-box;
}
.model {
    background-color: #2d65a5;
    padding: 20px;
    text-align: center;
}
.model h3 {
    color: #ffffff;   /* cor dos títulos dos modelos */
    font-size: 15px;  /* tamanho menor */
    margin-bottom: 10px;
}
    
iframe {
    width: 100%;
    aspect-ratio: 4 / 3; /* mantém proporção */
    height: auto;
    border: none;
    border-radius: 4px;
}


@media (max-width: 730px) {
    .model-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .model h3 {
        font-size: 10px;
    }

}



