/* ===== NAVBAR ===== */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #0d0b24;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 5px 1.5rem;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px; 
    width: auto;

}

.nav-list{
    display: flex;
    align-items: center;
}
.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}
.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    transition: 0.3s;
}
.nav-link:hover {
    color: #ff9900;
}

.mobile-menu{
    display: none;
}
.mobile-menu-icon {
    display: none;
}

.open{
    display: block;
}
@media screen and (max-width: 730px) {
    .nav-bar{
        padding: 5px 1.5rem;
    }
    .nav-list {
        display: none;
    }
    .logo img {
        height: 35px;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding: 1.2rem;
    }
    .mobile-menu button {
        display: flex;
        padding: 1rem 2rem;
        width: 100%;

    }
  
}
/* ===== Divider / Linha decorativa ===== */
.divider {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #205a9d;
    overflow: hidden;
}

.layered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
